<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Application Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Pesan LOG</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
